<div class="card question">
  <p><%=params[:question]%></p>
  <p>-You</p>
</div>

<div class="card coach-answer">
  <p><strong><%=@answer%></strong></p>
  <p>-Your Coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
